/* Footer CSS */
.Site{
	flex: 1 0 auto;
}

.Site-body{
	padding-top: 7em;
}

.site-footer{
	position: fixed;
	flex-shrink: 0;
	text-align: center;
	width: 100%;
	bottom: 0;
}

.icon{
	width: 2em;
	height: 2em;
}
