.body2 {
    overflow-wrap: anywhere;
}

.paperStyle {
    width: 60%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.smallPaperStyle {
    width: 33%;
    text-align: center;
    display: flex;  
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}